
{% extends 'amruloapp/dashboard/base.html' %}
{% load static %}

{% block title %}
    Create the order
{% endblock title %}

{% block custom_style %}
{% comment %} Custom css here {% endcomment %}
{% endblock custom_style %}


{% block content %}

    <div class="content-wrapper">
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Create the order</h1>
            </div>
            
            </div>
        </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Create the order</h3>
                        <div class="card-tools">
                        <button
                            type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse"
                        >
                            <i class="fas fa-minus"></i>
                        </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Order information</h3>
                            <div class="card-tools">
                            <button
                                type="button"
                                class="btn btn-tool"
                                data-card-widget="collapse"
                            >
                                <i class="fas fa-minus"></i>
                            </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-row">  <span class="text-danger pr-1">* </span>
                                    <label for="customer_name">Customer name:</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="customer_name"
                                        name='customer_name'
                                        placeholder="Customer name"
                                        required
                                    />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-row">
                                    <label for="manufacturer">Manufacturer</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="manufacturer"
                                        name='manufacturer'
                                        placeholder="Manufacturer"
                                    />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                    <label for="order_type">Order Type</label>
                                    <select
                                        name="order_type"
                                        id="order_type"
                                        class="form-control"
                                        placeholder="Select any choices"
                                        required
                                    >
                                    {% for value, label in form.order_type.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %} 

                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-row">
                                    <label for="purchaser">Purchaser</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="purchaser"
                                        name="purchaser"
                                        placeholder="Purchaser"
                                    />
                                    </div>
                                </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-row">
                                <label for="salesman">Salesman</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="Salesman"
                                    name="salesman"
                                    placeholder="salesman"
                                />
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-row">
                                <label for="prod_req_remarks">
                                    Production <br />
                                    requirements/remarks
                                </label>
                                <textarea
                                    class="form-control"
                                    id="prod_req_remarks"
                                    name="requirements_remarks"
                                    placeholder="Production requirements/remarks"
                                ></textarea>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>


                        {% comment %} <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title d-flex align-items-center">
                                <div class="mr-2">Shipping Address</div>
                                <a href="{% url 'address-management' %}" class="badge bg-primary">Change address</a>
                                </h3>
                                <div class="card-tools">
                                <button
                                    type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse"
                                >
                                    <i class="fas fa-minus"></i>
                                </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                    <label for="customer_contacts">Contacts</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="customer_contacts"
                                        placeholder="customer Contact"
                                        name='contacts'
                                        required
                                    />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                    <label for="email">Email</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        placeholder="Email"
                                        name='email'
                                        required
                                    />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                    <label for="country">Country</label>
                                    <select
                                        name="country"
                                        id="country"
                                        class="form-control"
                                        required>
                                        {% for value, label in form.country.field.choices %}
                                            <option value="{{ value }}">{{ label }}</option> 
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                </div>
                                
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                    <label for="rec_address">
                                        Receiving Address                             
                                    </label>
                                    <textarea
                                        class="form-control"
                                        name='receiving_address'
                                        id="rec_address"
                                        placeholder="Enter Recieving Address"
                                        required
                                    ></textarea>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div> {% endcomment %}


                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Product information</h3>
                                <div class="card-tools">
                                <button
                                    type="button"
                                    class="btn btn-tool"
                                    data-card-widget="collapse"
                                >
                                    <i class="fas fa-minus"></i>
                                </button>
                                </div>
                            </div>

                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-row">
                                <label for="original_data">Original Data</label>
                                <select id="original_data" class="form-control" name='original_data'>
                                    {% for value, label in form.original_data.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                <label for="typesetting_printing"
                                    >Design Printing</label
                                >
                                <select
                                    id="design_printing"
                                    class="form-control"
                                    name='design_printing'>
                                    {% for value, label in form.design_printing.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-row">
                                <label for="product_type">Product Type</label><span class="text-danger pr-1">* </span>
                                <select id="id_product_type" class="form-control" name='product_type'>
                                    {% for value, label in form.product_type.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            </div>
                        
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                <label for="product_type_type">Product Sub-Type</label>
                                <select id="id_product_sub_type" class="form-control" name='product_sub_type'>
                                    {% for value, label in form.product_sub_type.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-row">
                                <label for="product_material">Product Material</label>
                                <select id="product_material" class="form-control" name='product_material'>
                                    {% for value, label in form.product_material.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-group-row">
                                <label for="unit_of_measurment"
                                    >Unit of Measurment</label
                                >
                                <select id="unit_of_measurment" class="form-control" name='unit_of_measurement'>
                                    {% for value, label in form.unit_of_measurement.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option> 
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-row"><span class="text-danger pr-1">* </span>
                                        <label for="delivery_timing">Delivery Timing</label>
                                        <select id="id_delivery_timing" class="form-control" name='delivery_timing'>
                                            {% for value, label in form.delivery_timing.field.choices %}
                                                <option value="{{ value }}">{{ label }}</option> 
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                
                                <div class="col-md-4">
                                    <div class="form-group form-group-row">
                                    <label for="currency">Currency</label>
                                    <select id="currency" class="form-control" name='currency'>
                                        {% for value, label in form.currency.field.choices %}
                                            <option value="{{ value }}">{{ label }}</option> 
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group form-group-row">
                                        <label for="quantity">Quantity</label>
                                        <input
                                            id="id_quantity"
                                            type="number"
                                            name='quantity'
                                            class="form-control"
                                            default="01"
                                            min="1"
                                            value="{{ form.quantity.initial|default_if_none:'1'  }}"
                                        />
                                    </div>
                                </div>

                               
                            </div>
                            
                            {% comment %} New Adding {% endcomment %}
                            <div class="row">
                                

                                
                                <div class="col-md-4">
                                    <div class="form-group form-group-row">
                                        <label for="customer_contacts">Amount (<span id="currency-symbol"></span>) : </label>   
                                         
                                        <input type="text" class="form-control" id="id_price" name='price' value="{{ form.price.initial|default_if_none:'0.00'  }}" readonly />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div
                                      class="form-group form-group-row align-items-start"
                                    ><span class="text-danger pr-1">* </span>
                                      <label for="design_requirement"
                                        >Design <br />
                                        Requirement
                                      </label>
                                      <div class="file-upload-wrapper">
                                        <input
                                          type="file"
                                          accept=".jpeg,.jpg,.png,.gif,.pdf"
                                          id="design_requirement"
                                          name="design_requirement"
                                        />
                                        <div class="file-upload-icon">
                                          <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="file-upload-info">
                                          Drag files here, or
                                          <span class="ml-1 font-weight-bold text-primary"
                                            >Click upload</span
                                          >
                                        </div>
                                        <div class="file-upload-info text-danger">
                                          Only pictures can be uploaded. <br />
                                          .jpeg, .jpg, .png, .pdf, .gif stand file format
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                <div class="col-md-6">
                                    <div  class="form-group form-group-row align-items-start" ><span class="text-danger pr-1">* </span>
                                    <label for="upload_file">Upload file</label>
                                    <div class="file-upload-wrapper">
                                        <input
                                        type="file"
                                        accept=".stl,.dcm,.html"
                                        id="upload_file"
                                        name="file_upload_required"
                                        />
                                        <div class="file-upload-icon">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        </div>
                                        <div class="file-upload-info">
                                        Drag files here, or
                                        <span class="ml-1 font-weight-bold text-primary"
                                            >Click upload</span
                                        >
                                        </div>
                                        <div class="file-upload-info text-danger">
                                            Only upload ( .stl, .dcm, .html )  standard format
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                            </div>

                        </div>

                        

                    </div>

                    {% if messages %}
                        <ul class="messages text-danger">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                  
                    <div class="d-flex align-items-center justify-content-end mt-5 mb-5">
                        <button class="btn btn-danger has-icon mr-2" onclick="clearForm()" > 
                            <i class="fas fa-recycle"></i>
                            <div>Empty</div>
                        </button>
                        <button type='submit' class="btn btn-primary has-icon">
                            <i class="fas fa-check"></i>
                            <div>Place Order</div>
                        </button>
                    </div>

                    </form>

                </div>
            </div>
        </section>
    </div>

{% endblock content %}


{% block scripts  %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Your new JavaScript code -->
<script>
    // Function to update the amount field
    function updateAmount() {
        var subProductType = $('#id_product_sub_type').val();
        var quantity = $('#id_quantity').val();
        var currency = $('#currency').val();
        var deliveryTiming = $('#id_delivery_timing').val();
        var price = 0;
        var currencySymbol = '';

        // Price data for the selected delivery timing
        var deliveryTimingPrices = {
            '12HRS': {
                'Anatomic Full Crown': 6.0,
                'Veneer ( Emax, Ivoclar)': 6.0,
                'Inlay/Onlay': 6.0,
                'Smile Creator': 6.0,
                'Acrylic Temporary Crowns': 6.0,
                'Custom Implant Abutment': 7.0,

                'Cast Partial Denture Framework (upto 3 unit single arch)' : 18.0,
                'Cast Partial Denture Framework (upto 6 unit single arch)' : 18.0,
                'Cast Partial Denture Framework (upto 13 unit single arch)' : 20.0,
                'Screw retained crown' : 7.0,
                'All on 4/6 implants' : 9.0,
                'Implant SLM malo bridge' : 9.0,
                'Implant Hybrid Denture' : 9.0,
                'Cast Partial Obturator' : 9.0,
                'Bridge Framework' : 7.0,
                'Bite Splint' : 7.0,
                'Full Mouth Rehabilitation' : 9.0,
                'Wax-up for smile correction' : 9.0, 

                'CO-CR framework' : 9.0,
                'Zirconia Framework' : 9.0, 

                'Contact Model ( each quadrant )' : 3.0,
                'Contact Model with extra die  ( each quadrant )': 3.0,
                'Models with articulation (uppr/lower)': 3.0,
                'Study Model (Full Mouth)': 3.0,
                'Surgical guide' : 40.0,

                // Add more products and their prices for 12HRS delivery
            },

            '6HRS': {
                'Anatomic Full Crown': 7.0,
                'Veneer ( Emax, Ivoclar)': 7.0,
                'Inlay/Onlay': 7.0,
                'Smile Creator': 7.0,
                'Acrylic Temporary Crowns': 7.0,
                'Custom Implant Abutment': 9.0,

                'Cast Partial Denture Framework (upto 3 unit single arch)' : 20.0,
                'Cast Partial Denture Framework (upto 6 unit single arch)' : 20.0,
                'Cast Partial Denture Framework (upto 13 unit single arch)' : 25.0,
                'Screw retained crown' : 9.0,
                'All on 4/6 implants' : 11.0,
                'Implant SLM malo bridge' : 11.0,
                'Implant Hybrid Denture' : 11.0,
                'Cast Partial Obturator' : 11.0,
                'Bridge Framework' : 9.0,
                'Bite Splint' : 9.0,
                'Full Mouth Rehabilitation' : 11.0,
                'Wax-up for smile correction' : 11.0, 

                'CO-CR framework' : 11.0,
                'Zirconia Framework' : 11.0, 

                'Contact Model ( each quadrant )' : 5.0,
                'Contact Model with extra die  ( each quadrant )': 5.0,
                'Models with articulation (uppr/lower)': 5.0,
                'Study Model (Full Mouth)': 5.0,
                'Surgical guide' : 36.0,

                    // Add more products and their prices for 6HRS delivery
            },
            '2HRS': {
                'Anatomic Full Crown': 9.0,
                'Veneer ( Emax, Ivoclar)': 9.0,
                'Inlay/Onlay': 9.0,
                'Smile Creator': 9.0,
                'Acrylic Temporary Crowns': 9.0,
                'Custom Implant Abutment': 11.0,

                'Cast Partial Denture Framework (upto 3 unit single arch)' : 0.0,
                'Cast Partial Denture Framework (upto 6 unit single arch)' : 0.0,
                'Cast Partial Denture Framework (upto 13 unit single arch)' : 0.0,
                'Screw retained crown' : 11.0,
                'All on 4/6 implants' : 15.0,
                'Implant SLM malo bridge' : 15.0,
                'Implant Hybrid Denture' : 15.0,
                'Cast Partial Obturator' : 15.0,
                'Bridge Framework' : 11.0,
                'Bite Splint' : 11.0,
                'Full Mouth Rehabilitation' : 15.0,
                'Wax-up for smile correction' : 15.0, 

                
                'CO-CR framework' : 15.0,
                'Zirconia Framework' : 15.0, 

                'Contact Model ( each quadrant )' : 7.0,
                'Contact Model with extra die  ( each quadrant )': 7.0,
                'Models with articulation (uppr/lower)': 7.0,
                'Study Model (Full Mouth)': 7.0,
                'Surgical guide' : 0.0,
                // Add more products and their prices for 2HRS delivery
            },
        };

        // Get the base price for the selected product and delivery timing
        var basePrice = deliveryTimingPrices[deliveryTiming][subProductType];

        if (basePrice !== undefined) {
            // Calculate the total price
            price = basePrice * quantity;

            // Get the currency symbol based on the selected currency
            if (currency === 'USA') {
                currencySymbol = '$'; // Dollar symbol
            } else if (currency === 'INR') {
                currencySymbol = '₹'; // Indian Rupee symbol
                // Fetch the actual exchange rate for INR from your Django code
                var inrRate = {{ inr_rate }}; // Replace this with the actual exchange rate
                price *= inrRate;
            }
        }

        // Update the amount field with the calculated price and currency symbol
        $('#id_price').val(price.toFixed(2));

        // Update the display of the currency symbol in the amount field
        $('#currency-symbol').text(currencySymbol);
    }

    // Event listeners for input fields
    $('#id_product_sub_type, #id_quantity, #currency, #id_delivery_timing').on('change keyup', function () {
        updateAmount();
    });

    // Call the updateAmount function on page load
    updateAmount();
</script>
{% endblock scripts  %}





