{% extends 'amruloapp/baselogin.html' %}
{% load static %}


{% block title %}
    Payment|Page
{% endblock title %}

{% block custom_css %}
<style>
</style>
{% endblock custom_css %}

{% block content %}

      <div class="container">

        <div class="content">

            <section class="section-content padding-y bg-light">
                <div class="container">

                    <!-- ============================ COMPONENT ================================= -->

                    <div class="row align-items-center justify-content-center">
                        <div class="container  mb-5 pt-5">
                            <h4 class="text-center ">Make Payment</h4>
                        </div>
                        <br>
                        <div class="col-lg-6">
                            <div class="card">
                                <h5 class="card-header bg-danger text-light">Informations</h5>
                                <div class="card-body  text-dark">
                                    <p class="card-text mb-0">Order N° : {{order.order_number}}</p><br>
                                    <p class="card-text mb-0">Company_information : {{order.company_information}}</p><br>
                                    <p class="card-text mb-0">Manufacturer : {{order.manufacturer}}</p><br>
                                    <p class="card-text mb-0">Product_type : {{order.product_type}}</p><br>
                                    <p class="card-text mb-0">Product_sub_type : {{order.product_sub_type}}</p><br>
                                    <p class="card-text mb-0">Customer_name : {{order.customer_name}}</p><br>
                                    <p class="card-text mb-0">Purchaser : {{order.purchaser}}</p><br>
                                    <p class="card-text mb-0">Email : {{order.user.email}}</p><br>
                                    <p class="card-text mb-0">Phone : {{order.user.phone}}</p><br>
                                    {% if order.note %}
                                    <b>Order Note : </b> {{order.note}}
                                    {% endif %}


                                </div>
                            </div><br>

                        </div> <!-- col.// -->


                        <div class="col-lg-6">

                            <div class="card ">
                                <div class="card-header bg-dark">
                                    <h4 class=" text-light">
                                        Billing
                                    </h4>
                                </div>

                                <div class="card-body">

                                    <div class="container text-center">
                                        <span class="mtext-101 cl2">
                                            <strong>Currency :</strong>&nbsp;&nbsp;{{currency}}&nbsp;
                                        </span><br/>
                                        {% if currency == 'USA' %}
                                        <span class="mtext-101 cl2">
                                            <strong>Price :</strong>&nbsp;$&nbsp;{{price}}&nbsp;
                                        </span><br/>
                                        {% else %}
                                        <span class="mtext-101 cl2">
                                            <strong>Price :</strong>&nbsp;₹&nbsp;{{price}}&nbsp;
                                        </span><br/>
                                        <span class="mtext-101 cl2">
                                            <strong>In USD :</strong>&nbsp;$&nbsp;{{price_inr}}&nbsp;
                                        </span><br/>
                                        {% endif %}
                                    </div>

                                    <hr>

                                    <div class="container text-center">
                                        <div id="smart-button-container">
                                            <div style="text-align: center;">
                                                <div id="paypal-button-container"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <p class="text-center mb-3">
                                        <img src="{% static 'amruloapp/assets/images/payments.png' %}" height="26" alt="img">
                                    </p>

                                </div>
                            </div><br>

                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-6">
                                        <form action="{% url 'create-order' %}" method="get">
                                            <button class="btn btn-danger">Cancel</button>
                                        </form>
                                    </div>

                                    <div class="col-6">
                                        <form action="{% url 'home' %}" method="get">
                                            <button class="btn btn-dark">Home</button>
                                        </form>
                                    </div>

                                </div>
                            </div><br>

                        </aside> <!-- col.// -->



                    </div> <!-- row.// -->

                    <!-- ============================ COMPONENT END .// ================================= -->

                </div> <!-- container .//  -->
            </section>
            <!-- ========================= SECTION CONTENT END// ========================= -->

            <!--
            <div class="container pt-5">
                <div class="pt-5 text-center"><h2>Oops! No additional price to pay.</h2></div>
                    <div class="row text-center">
                        <div class="col-6">
                            <form action="{% url 'remake-order' %}" method="get">
                                <button class="btn btn-dark">Remake Order</button>
                            </form>
                        </div>

                        <div class="col-6">
                            <form action="{% url 'home' %}" method="get">
                                <button class="btn btn-danger">Home</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            -->

      </div>

{% endblock content %}


{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var amount = "{{price}}";
    var amount_usd = "{{price}}";
    var amount_inr = "{{price_inr}}";
    var currency = "{{order.currency}}";
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{order.order_number}}";
    var url = "{% url 'later_payment_request' %}";
    var payment_method = 'PayPal';
    var redirect_url = "{% url 'later_payment_complete' %}";

    if (currency=="USD"){
        amount=amount_usd
    }
    else{
        amount=amount_inr
    }

    function initPayPalButton() {
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'gold',
                shape: 'pill',
                label: 'pay',
                layout: 'horizontal',
                height: 40
            },

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    //console.log(details);
                    sendData();

                    function sendData() {
                        fetch(url, {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json",
                                    "X-CSRFToken": csrftoken,
                                },
                                body: JSON.stringify({
                                    orderID: orderID,
                                    transID: details.id,
                                    payment_method: payment_method,
                                    currency: currency,
                                    amount_paid: amount,
                                    status: details.status,
                                }),
                            })
                            .then((response) => response.json())
                            .then((data) => {
                                window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                            });
                    }
                });
            }


        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>
{% endblock %}