
{% extends 'amruloapp/dashboard/base.html' %}
{% load static %}

{% block title %}
    Monthly Statement
{% endblock title %}

{% block custom_style %}
{% comment %} Custom css here {% endcomment %}
    <!-- DataTables -->
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css' %}" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/daterangepicker/daterangepicker.css' %}" />
    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/summernote/summernote-bs4.min.css' %}" />


    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/dist/css/monthly-statement-bill.css' %}" />

{% endblock custom_style %}


{% block content %}


    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Monthly Statement Bill</h1>
                    </div> 
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Monthly statement bill</h3>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="order-list-filter-area">
                    <div class="row">

                      <div class="col-md-5">
                        <form  method="GET">
                          <div class="form-group form-group-row">
                            <label for="order_daterange_input">Date range</label>
                            <input
                              type="text"
                              class="form-control"
                              id="order_daterange_input"
                              name="date_range" 
                              
                            />
                            <button class="btn btn-primary mx-3" type="submit">Search Date</button>
                          </div>
                        </form>
                      </div>
                      

                      <div class="col-md-4 ">
                          <form method="GET" action="">
                          <div class="form-group form-group-row ">
                            <label for="order_number">Order number</label>
                            <input type="number" class="form-control" id="order_number" name='order_number' placeholder="Order number"/>
    
                            <div class="col-md-3 text-right">
                              <button class="btn btn-primary">Search</button>
                            </div>
                          </div>
                        </form>
                      </div>

                      
                      
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table nowrap table-bordered"
                      id="orderListTable"
                    >
                      <thead>
                        <tr> 
                          <th>Sr. No</th> 
                          <th>Order Number</th>
                          <th>User Name</th>
                          <th>Product Sub-Type</th>
                          <th>Product Quantity</th>
                          <th>Delivery Hours</th>
                          <th>Currency</th>
                          <th>Amount</th>
                          <th>Order Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in order_data %}
                        <tr>

                            <td>{{forloop.counter}}</td>
                            <td>{{data.order_number}}</td>
                            <td>{{data.user.name}}</td>
                            <td>{{data.product_sub_type}}</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.delivery_timing}}</td>
                            <td>{{data.currency}}</td>

                            <td>
                                    {% if data.currency == 'USA' %}
                                        ${{ data.price|floatformat:2 }}
                                    {% elif data.currency == 'INR' %}
                                        ₹{{ data.price|floatformat:2 }}
                                    {% else %}
                                        {{ data.price|floatformat:2 }} <!-- Default case if no currency symbol is available -->
                                    {% endif %}
                            </td>

                            <td class="order-row" data-order-date="{{ data.formatted_order_date }}">{{ data.order_date|date:"Y-m-d" }}</td>

                          </tr>
                          {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </section>
        
    </div>

{% endblock content %}


{% block scripts %}
    <!-- DataTables  & Plugins -->
    <script src="{% static 'amruloapp/dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- daterangepicker -->
    <script src="{% static 'amruloapp/dashboard/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/daterangepicker/daterangepicker.js' %}"></script>


    <script src="{% static 'amruloapp/dashboard/dist/js/monthly-statement-bill.js' %}"></script>


{% endblock scripts %}





