
{% extends 'amruloapp/dashboard/base.html' %}
{% load static %}

{% block title %}
    Order List
{% endblock title %}

{% block custom_style %}
{% comment %} Custom css here {% endcomment %}


    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css' %}" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/daterangepicker/daterangepicker.css' %}" />
    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/summernote/summernote-bs4.min.css' %}" />

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/dist/css/order-list.css' %}" /> 
    

{% endblock custom_style %}


{% block content %}

<div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">The order list</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <!-- Success Message (Top of the Page) -->
        {% if messages %}
          <div class="messages">
              {% for message in messages %}
                  {% if message.tags == 'success' %}
                      <div class="alert alert-success">{{ message }}</div>
                  {% endif %}
              {% endfor %}
          </div>
        {% endif %}

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">The order list</h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="order-list-filter-area">
              <div class="row">

                <div class="col-md-5">
                  <form action="{% url 'order-list' %}" method="GET">
                    <div class="form-group form-group-row">
                      <label for="order_daterange_input">Date range</label>
                      <input
                        type="text"
                        class="form-control"
                        id="order_daterange_input"
                        name="date_range" 
                        
                      />
                      <button class="btn btn-primary mx-3" type="submit">Search Date</button>
                    </div>
                  </form>
                </div>

          
                <form method="GET" action="">
                    <div class="col-md-12 ">
                      <div class="form-group form-group-row ">
                        <label for="order_number">Order number</label>
                        <input type="number" class="form-control" id="order_number" name='order_number' placeholder="Order number"/>

                        <div class="col-md-3 text-right">
                          <button class="btn btn-primary">Search</button>
                        </div>
                      </div>

                      
                    </div>
                </form>
              
              
              
              </div>
              
            </div>
            <div class="table-responsive" id="filtered-data">
              <table
                class="table nowrap table-bordered"
                id="orderListTable"
              >
                <thead>
                  <tr>
                    <th>Sr. No</th>
                    <th>Order Number</th>
                    <th>User Name</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <th>Order Type</th>
                    <th>Purchaser</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Phone</th>
                    <th>Receiving Address</th>
                    <th>Menu</th>
                    <th>Apply for Remake</th>
                  </tr>
                </thead>
                <tbody >
                
                {% for data in order_data %}
                <td>{{forloop.counter}}</td>
                                <td>{{data.order_number}}</td>
                                <td>{{data.customer_name}}</td>
                                <td class="order-row" data-order-date="{{ data.formatted_order_date }}">{{ data.order_date|date:"Y-m-d" }}</td>

                                <td class='text-center'>
                                  {% if data.order_status == 'review' %}
                                      <span class="badge badge-primary">{{ data.order_status }}</span>

                                  {% elif data.order_status == 'pending' %}
                                      <span class="badge badge-warning">{{ data.order_status }}</span>
                                  
                                  {% elif data.order_status == 'approved' %}
                                      <span class="badge badge-info">{{ data.order_status }}</span>
                                      
                                  {% elif data.order_status == 'completed' %}
                                      <span class="badge badge-success">{{ data.order_status }}</span>
                                  
                                  {% elif data.order_status == 'cancelled' %}
                                      <span class="badge badge-danger">{{ data.order_status }}</span>
                                  {% else %}
                                      <span class="badge badge-secondary">{{ data.order_status }}</span> <!-- Default case if the status is not matched -->
                                  {% endif %}
                                </td>
                                <td>{{data.order_type}}</td>
        
                                <td>{{data.purchaser}}</td>
                                <td>{{data.currency}}</td>
                                <td>
                                    {% if data.currency == 'USA' %}
                                        ${{ data.price|floatformat:2 }}
                                    {% elif data.currency == 'INR' %}
                                        ₹{{ data.price|floatformat:2 }}
                                    {% else %}
                                        {{ data.price|floatformat:2 }} <!-- Default case if no currency symbol is available -->
                                    {% endif %}
                                </td>
                                <td>{{data.user.phone}}</td>
                                <td>{{data.user.user_address}}</td>

                                <td class="text-center bg-light">
                                  <div class="datatable-actions-container">
                                      <button class="btn-action" data-toggle="modal" data-target="#viewOrderModal{{ data.order_number }}">
                                          <i class="fas fa-eye pr-2"></i> View
                                      </button>
                                      
                                      {% comment %} {% if request.user.groups.all.0.name == "Vendor" or request.user.groups.all.0.name == "Admin" %} {% endcomment %}
                                      {% if request.user.groups.all.0.name == "Admin" %}
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="revoke_order_number" value="{{ data.order_number }}">
                                            <button type="submit" class="btn-action">
                                                <i class="fas fa-trash-alt pr-2"></i> Revoke
                                            </button>
                                        </form>
                                      {% endif %}
                                  </div>
                                </td>

                                <td>
                                  {% if data.order_status == 'pending' %}
                                    <p class='text-center'>-</p>
                                  {% else %}
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#remakeModal{{ data.order_number }}">
                                      Request for Remake
                                    </button>
                                  {% endif %}
                                </td>
                        

                    </tr>
                  {% endfor %}



                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% for data in order_data %}
    <!-- View Order Modal -->
    <div class="modal fade" id="viewOrderModal{{ data.order_number }}" tabindex="-1" role="dialog" aria-labelledby="viewOrderModalLabel{{ data.order_number }}" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="viewOrderModalLabel{{ data.order_number }}">View Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Order Information</h3>
                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <tr>
                                  <th class="bg-light">Customer name</th>
                                  <td>{{data.customer_name}}</td>
                                  <th class="bg-light">Manufactur</th>
                                  <td>{{data.manufacturer}}</td>
                                  
                              </tr>
                              <tr>
                                  <th class="bg-light">Order type</th>
                                  <td>{{data.order_type}}</td>
                                  <th class="bg-light">Order time</th>
                                  <td>{{data.order_date}}</td>

                              </tr>

                          </table>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Product Information</h3>
                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <tr>
                                  <th class="bg-light">Product Type</th>
                                  <td>{{data.product_type}}</td>
                                  <th class="bg-light">Process</th>
                                  <td>{{data.product_type}}</td>
                                  <th class="bg-light">Unit of measurment</th>
                                  <td>{{data.unit_of_measurement}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Product Sub-Type</th>
                                  <td>{{data.product_sub_type}}</td>
                                  <th class="bg-light">Product material</th>
                                  <td colspan="3">{{data.product_material}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Quantity</th>
                                  <td colspan="3">{{data.quantity}}</td>
                                  <th class="bg-light">Delivery Time</th>
                                  <td colspan="5">{{data.delivery_timing}}</td>
                                  
                              </tr>
                              <tr>
                                <th class="bg-light">Currency </th>
                                <td>{{data.currency}}</td>
                                <th class="bg-light">Amount</th>
                                <td colspan="3">{{data.price}}</td>
                              </tr>
                          </table>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th class="text-center bg-light">Order No.</th>
                                      <th class="text-center bg-light">Customer Name</th>
                                      <th class="text-center bg-light">Design requirements</th>
                                      <th class="text-center bg-light">Uploaded Files</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-center bg-light">{{data.order_number}}</td>
                                      <td class="text-center bg-light">{{data.customer_name}}</td>
                                      <td class="text-left bg-light">
                                          <div class="file-container">
                                              <div class="file-name">
                                                {{data.design_requirement.name }}
                                                <br>
                                                {{data.file_upload_required.name }}
                                              </div>
                                          </div>
                                      </td>

                                      <td class="text-center bg-light">
                                        <div class="file-action">
                                            <div class="btn-group">
                                                <div>
                                                  <a href="#" class="btn btn-link btn-file-view btn-sm" onclick="openImageModal('{{ data.design_requirement.url }}'); return false;">
                                                    <i class="fas fa-eye"></i> View
                                                  </a>
  
                                                  <br>

                                                  {% comment %} <a href="#" class="btn btn-link btn-file-view btn-sm" onclick="openImageModal('{{ data.file_upload_required.url }}'); return false;">
                                                    <i class="fas fa-eye"></i> View
                                                  </a> {% endcomment %}

                                                  <!-- Button to view .stl, .dcm, or .html files -->
                                                  <a href="#" class="btn btn-link btn-file-view btn-sm" onclick="openFileModal('{{ data.file_upload_required.url }}'); return false;">
                                                    <i class="fas fa-eye"></i> View
                                                  </a>

                                                </div>
                                    
                                                <div>
                                                  <a href="{{ data.design_requirement.url }}" class="btn btn-link btn-file-download btn-sm" download>
                                                    <i class="fas fa-download"></i> Download
                                                  </a>
  
                                                  <br>
                                                  <a href="{{ data.file_upload_required.url }}" class="btn btn-link btn-file-download btn-sm" download>
                                                    <i class="fas fa-download"></i> Download
                                                  </a>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    

                                    
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
              </div>
          </div>
      </div>
    </div>
  {% endfor %}


  {% comment %} Image Modal {% endcomment %}
  <!-- View Image Modal -->
  <div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="viewImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="viewImage" src="" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
  </div>

  <!-- File Modal -->
<!-- File Modal -->
<div class="modal fade" id="viewFileModal" tabindex="-1" role="dialog" aria-labelledby="viewFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="viewFileModalLabel">View File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <a id="fileDownloadLink" href="" download>Download File</a>
          </div>
      </div>
  </div>
</div>



<!-- View Order Modal -->

{% for data in order_data %}

  <div class="modal fade" id="remakeModal{{ data.order_number }}" tabindex="-1" role="dialog" aria-labelledby="remakeModalLabel{{ data.order_number }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remakeModalLabel{{ data.order_number }}">Request Remake for order No : {{data.order_number}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="remakeForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="order_number" value="{{ data.order_number }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="crownsInput">Number of Crowns</label>
                        <input type="number" class="form-control" id="crownsInput" name="num_crowns" required>
                    </div>
                    <div class="form-group">
                        <label for="bracketsInput">Number of Brackets</label>
                        <input type="number" class="form-control" id="bracketsInput" name="num_brackets" required>
                    </div>
                    <div class="form-group">
                        <label for="notesInput">Notes</label>
                        <textarea class="form-control" id="notesInput" name="remake_notes" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
  </div>

{% endfor %}


{% endblock content %}


{% block scripts %}

    <!-- Include the three.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>


    <!-- DataTables  & Plugins -->
    <script src="{% static 'amruloapp/dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


    <script src="{% static 'amruloapp/dashboard/dist/js/order-list.js' %}"></script>

    <script>
      function openImageModal(imageUrl) {
          const viewImageModal = $('#viewImageModal');
          const viewImage = viewImageModal.find('.modal-body img');
  
          viewImage.attr('src', imageUrl);
          viewImageModal.modal('show');
      }
    </script>

    <script>
      // Function to open the file modal and provide a download link
      function openFileModal(fileUrl) {
          const fileDownloadLink = document.getElementById('fileDownloadLink');
          const viewFileModal = new bootstrap.Modal(document.getElementById('viewFileModal'));
  
          // Set the href attribute of the download link to the file URL
          fileDownloadLink.href = fileUrl;
  
          // Show the modal
          viewFileModal.show();
      }
    </script>
  


{% endblock scripts %}





