
{% extends 'amruloapp/dashboard/base.html' %}
{% load static %}

{% block title %}
    Remake Order
{% endblock title %}

{% block custom_style %}
{% comment %} Custom css here {% endcomment %}



    <!-- DataTables -->
    <link
      rel="stylesheet"
      href="{% static 'amruloapp/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'amruloapp/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'amruloapp/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css' %}"
    />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="{% static 'amruloapp/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}"
    />

    <!-- summernote -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/plugins/summernote/summernote-bs4.min.css' %}" />

    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'amruloapp/dashboard/dist/css/remake-orders.css' %}" />

{% endblock custom_style %}


{% block content %}


    <div class="content-wrapper">
      
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Apply for Remake</h1>
                    </div> 
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
              <!-- Success Message (Top of the Page) -->
              {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
              {% endif %}

              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Apply for Remake</h3>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="order-list-filter-area">
                    <div class="row">
         
                    
                          <form method="GET" action="">
                              <div class="col-md-12 ">
                                <div class="form-group form-group-row ">
                                  <label for="order_number">Order number</label>
                                  <input type="number" class="form-control" id="order_number" name='order_number' placeholder="Order number"/>
          
                                  <div class="col-md-3 text-right">
                                    <button class="btn btn-primary">Search</button>
                                  </div>
                                </div>
                              </div>
                          </form>

                    </div>
                  </div>
                  <div class="table-responsive">
                    <table
                      class="table nowrap table-bordered"
                      id="orderListTable"
                    >
                      <thead>
                        <tr>
                          <th>Sr. No</th>
                          <th>Order Number</th>
                          <th>User Name</th>
                          <th>Order Date</th>
                          <th>Order Status</th>
                          <th>Order Type</th>
                          <th>Purchaser</th>
                          <th>Currency</th>
                          <th>Amount</th>
                          <th>Phone</th>
                          <th>Receiving Address</th>
                          <th>Menu</th>
                        </tr>
                      </thead>
                      <tbody >
                
                        {% for data in order_data %}
                            {% comment %} <tr class="odd"> {% endcomment %}
                                <td>{{forloop.counter}}</td>
                                <td>{{data.order_number}}</td>
                                <td>{{data.customer_name}}</td>
                                <td class="order-row" data-order-date="{{ data.formatted_order_date }}">{{ data.order_date|date:"Y-m-d" }}</td>
                                <td class='text-center'>
                                  {% if data.order_status == 'modification' %}
                                      <span class="badge badge-warning">{{ data.order_status }}</span>
                                  {% endif %}
                                </td>
                                <td>{{data.order_type}}</td>
        
                                <td>{{data.purchaser}}</td>
                                <td>{{data.currency}}</td>
                                <td>
                                    {% if data.currency == 'USA' %}
                                        ${{ data.price|floatformat:2 }}
                                    {% elif data.currency == 'INR' %}
                                        ₹{{ data.price|floatformat:2 }}
                                    {% else %}
                                        {{ data.price|floatformat:2 }} <!-- Default case if no currency symbol is available -->
                                    {% endif %}
                                </td>
                                <td>{{data.user.phone}}</td>
                                <td>{{data.user.user_address}}</td>

                                <td class="text-center bg-light">
                                  <div class="datatable-actions-container">
                                      <button class="btn-action" data-toggle="modal" data-target="#viewOrderModal{{ data.order_number }}">
                                          <i class="fas fa-eye pr-2"></i> View
                                      </button>
                              
                                      {% if request.user.groups.all.0.name == "Vendor/Staff User" or request.user.groups.all.0.name == "SuperUser" %}
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="revoke_order_number" value="{{ data.order_number }}">
                                            <button type="submit" class="btn-action">
                                                <i class="fas fa-trash-alt pr-2"></i> Revoke
                                            </button>
                                        </form>
                                      {% endif %}
                                  </div>
                              </td>
                              

        
                            </tr>
                          {% endfor %}
        
        
        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </section>
        
    </div>



  {% for data in order_data %}
    <!-- View Order Modal -->
    <div class="modal fade" id="viewOrderModal{{ data.order_number }}" tabindex="-1" role="dialog" aria-labelledby="viewOrderModalLabel{{ data.order_number }}" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="viewOrderModalLabel{{ data.order_number }}">View Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Order Information</h3>
                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <tr>
                                  <th class="bg-light">Customer name</th>
                                  <td>{{data.customer_name}}</td>
                                  <th class="bg-light">Manufactur</th>
                                  <td>{{data.manufacturer}}</td>
                                  <th class="bg-light">Order type</th>
                                  <td>{{data.order_type}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Purchaser</th>
                                  <td>{{data.purchaser}}</td>
                                  <th class="bg-light">Order time</th>
                                  <td>{{data.order_date}}</td>
                                  <th class="bg-light">Salesman</th>
                                  <td>{{data.salesman}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Remarks</th>
                                  <td colspan="5">{{data.requirements_remarks}}</td>
                              </tr>
                          </table>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Product Information</h3>
                          <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                          </div>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <tr>
                                  <th class="bg-light">Product Type</th>
                                  <td>{{data.product_type}}</td>
                                  <th class="bg-light">Process</th>
                                  <td>{{data.product_type}}</td>
                                  <th class="bg-light">Unit of measurment</th>
                                  <td>{{data.unit_of_measurement}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Product Sub-Type</th>
                                  <td>{{data.product_sub_type}}</td>
                                  <th class="bg-light">Product material</th>
                                  <td colspan="3">{{data.product_material}}</td>
                              </tr>
                              <tr>
                                  <th class="bg-light">Quantity</th>
                                  <td colspan="3">{{data.quantity}}</td>
                                  <th class="bg-light">Delivery Time</th>
                                  <td colspan="5">{{data.delivery_timing}}</td>
                                  
                              </tr>
                              <tr>
                                <th class="bg-light">Currency </th>
                                <td>{{data.currency}}</td>
                                <th class="bg-light">Amount</th>
                                <td colspan="3">{{data.price}}</td>
                              </tr>
                          </table>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th class="text-center bg-light">Order No.</th>
                                      <th class="text-center bg-light">Customer Name</th>
                                      <th class="text-center bg-light">Design requirements</th>
                                      <th class="text-center bg-light">Uploaded Files</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-center bg-light">{{data.order_number}}</td>
                                      <td class="text-center bg-light">{{data.customer_name}}</td>
                                      <td class="text-center bg-light">
                                          <div class="file-container">
                                              <div class="file-name">
                                                {{data.design_requirement.name }}
                                              </div>

                                          </div>
                                      </td>

                                      <td class="text-center bg-light">
                                        <div class="file-action">
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-link btn-file-view" onclick="openImageModal('{{ data.design_requirement.url }}'); return false;">
                                                  <i class="fas fa-eye"></i> View
                                                </a>
                                    
                                                <a href="{{ data.design_requirement.url }}" class="btn btn-link btn-file-download" download>
                                                  <i class="fas fa-download"></i> Download
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    

                                    
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
              </div>
          </div>
      </div>
    </div>
  {% endfor %}


  {% comment %} Image Modal {% endcomment %}
  <!-- View Image Modal -->
  <div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="viewImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="viewImage" src="" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
  </div>


<!-- View Order Modal -->



{% endblock content %}


{% block scripts %}


    <!-- DataTables  & Plugins -->
    <script src="{% static 'amruloapp/dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'amruloapp/dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'amruloapp/dashboard/dist/js/remake-orders.js' %}"></script>

    <script>
      function openImageModal(imageUrl) {
          const viewImageModal = $('#viewImageModal');
          const viewImage = viewImageModal.find('.modal-body img');
  
          viewImage.attr('src', imageUrl);
          viewImageModal.modal('show');
      }
    </script>


{% endblock scripts %}





