{% extends 'cdlapp/dashboard/base.html' %}
{% load static %}

{% block title %}
Order Details
{% endblock title %}

{% block custom_style %}
{% comment %} Custom css here {% endcomment %}


<!-- DataTables -->
<link rel="stylesheet"
  href="{% static 'cdlapp/dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
  href="{% static 'cdlapp/dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet"
  href="{% static 'cdlapp/dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet"
  href="{% static 'cdlapp/dashboard/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.min.css' %}" />
<!-- overlayScrollbars -->
<link rel="stylesheet"
  href="{% static 'cdlapp/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
<!-- Daterange picker -->
<link rel="stylesheet" href="{% static 'cdlapp/dashboard/plugins/daterangepicker/daterangepicker.css' %}" />
<!-- summernote -->
<link rel="stylesheet" href="{% static 'cdlapp/dashboard/plugins/summernote/summernote-bs4.min.css' %}" />

<!-- Theme style -->
<link rel="stylesheet" href="{% static 'cdlapp/dashboard/dist/css/order-list.css' %}" />


{% endblock custom_style %}


{% block content %}

<div class="content-wrapper">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Order No. {{data.order_number}} - details</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{data.customer_name}} - Order No. {{data.order_number}}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="order-list-filter-area">
            <div class="row">
 
                
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="bg-light">Customer name</th>
                            <td>{{data.customer_name}}</td>
                            <th class="bg-light">Manufactur</th>
                            <td>{{data.manufacturer}}</td>
                        </tr>
                        <tr>
                            <th class="bg-light">Remarks / Comments</th>
                            <td>{{data.commentOrRemarks}}</td>
                            <th class="bg-light">Order Status</th>
                            <td>
                                {% if data.order_status == 'review' %}
                                <span class="badge badge-primary">{{ data.order_status }}</span>

                                {% elif data.order_status == 'pending' %}
                                <span class="badge badge-warning">{{ data.order_status }}</span>

                                {% elif data.order_status == 'RX-Report' %}
                                <span class="badge badge-dark">{{ data.order_status }}</span>

                                {% elif data.order_status == 'approved' %}
                                <span class="badge badge-info">{{ data.order_status }}</span>

                                {% elif data.order_status == 'completed' %}
                                <span class="badge badge-success">{{ data.order_status }}</span>

                                {% elif data.order_status == 'cancelled' %}
                                <span class="badge badge-danger">{{ data.order_status }}</span>
                                {% else %}
                                <span class="badge badge-secondary">{{ data.order_status }}</span>
                                <!-- Default case if the status is not matched -->
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="bg-light">Order type</th>
                            <td>{{data.order_type}}</td>
                            <th class="bg-light">Order time</th>
                            <td>{{data.order_date}}</td>

                        </tr>

                    </table>
                </div>

                </div>


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Product Information</h3>
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered">
                        
                        <tr>
                            <th class="bg-light">Product</th>
                            <td>{{data.product_sub_type}}</td>
                            <th class="bg-light">Product material</th>
                            <td colspan="3">{{data.product_material}}</td>
                        </tr>
                        <tr>
                            <th class="bg-light">Quantity</th>
                            <td colspan="3">{{data.quantity}}</td>
                            <th class="bg-light">Delivery Time</th>
                            <td colspan="5">{{data.delivery_timing}}</td>

                        </tr>
                        <tr>
                            <th class="bg-light">Currency </th>
                            <td>{{data.currency}}</td>
                            <th class="bg-light">Amount</th>
                            <td colspan="3">{{data.price}}</td>
                        </tr>
                        </table>
                    </div>

                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Image Files Uploaded</h3>
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th class="text-center bg-light">Order No.</th>
                            <th class="text-center bg-light">Customer Name</th>
                            <th class="text-center bg-light">File Name</th>
                            <th class="text-center bg-light">File Type</th>
                            <th class="text-center bg-light">Design requirements</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data.gallery%}
                            {% if i.extension == 'bmp' or i.extension == 'jpg' or i.extension == 'jpeg' or i.extension == 'png' or i.extension == 'gif' or i.extension == 'BMP' or i.extension == 'JPG' or i.extension == 'JPEG' or i.extension == 'PNG' or i.extension == 'GIF'%}
                                <tr>
                                <td class="text-center bg-light">{{data.order_number}}</td>
                                <td class="text-center bg-light">{{data.customer_name}}</td>
                                <td class="text-left bg-light">
                                    <div class="file-container">
                                    <div class="file-name">
                                        <a href="{% url 'show_file' path=i.title|urlencode %}" target="_blank">{{ i.title }}</a>
                                    </div>
                                    </div>
                                </td>
                                <td class="text-left bg-light">
                                    <div class="file-container">
                                    <div class="file-name">
                                        {{i.extension}}
                                    </div>
                                    </div>
                                </td>

                                <td class="text-center bg-light">
                                    <div class="file-action">
                                    <div class="btn-group">

                                        {% if request.user.groups.all.0.name == "Vendor"  or request.user.groups.all.0.name == "User" or request.user.groups.all.0.name == "Admin" %}

                                        {% if data.is_ordered == 1 %}
                                            <div>                                      
                                                <a target="_blank" href="{% url 'show_file' path=i.title|urlencode %}" class="m-2 btn btn-primary btn-small btn-file-view btn-sm">
                                                <i class="fas fa-eye"></i> View
                                                </a>
                                            </div>
                                            
                                            <div>
                                            <a href="{{ i.url }}" class="m-2 btn btn-dark btn-small btn-file-download btn-sm"
                                                download>
                                                <i class="fas fa-download"></i> Download
                                            </a>
                                            </div>

                                            {% elif data.is_ordered == 0 and request.user.groups.all.0.name == "Vendor"  %}
                                            
                                                <div>
                                                <a target="_blank" href="{% url 'show_file' path=i.title|urlencode %}" class="m-2 btn btn-primary btn-small btn-file-view btn-sm">
                                                    <i class="fas fa-eye"></i> View
                                                </a>
                                                </div>
                                                
                                                <div>
                                                <button class="m-2 btn btn-dark btn-small btn-file-download btn-sm" disabled>
                                                    <i class="fas fa-download"></i> Download
                                                </button>
                                                </div>

                                                <div>
                                                <p>Can't download. Pay the order first.</p>
                                                </div>

                                            {% else %}
                                            
                                            <!-- Disabled buttons when the order is unpaid -->
                                            <div>
                                                <button class="m-2 btn btn-primary btn-small btn-file-view btn-sm" disabled>
                                                <i class="fas fa-eye"></i> View
                                                </button>
                                            </div>
                                            
                                            <div>
                                                <button class="m-2 btn btn-dark btn-small btn-file-download btn-sm" disabled>
                                                <i class="fas fa-download"></i> Download
                                                </button>
                                            </div>

                                            <div>
                                                <p>Can't view or download. Pay the order first.</p>
                                            </div>

                                        {% endif %}

                                        {% endif %}

                                        

                                    </div>
                                    </div>
                                </td>
                                </tr>
                                {% endif %}
                            {% endfor %}

                        </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Others Files Uploaded</h3>
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th class="text-center bg-light">Order No.</th>
                            <th class="text-center bg-light">Customer Name</th>
                            <th class="text-center bg-light">File Name</th>
                            <th class="text-center bg-light">File Type</th>
                            <th class="text-center bg-light">Uploaded Files</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data.gallery%}
                            {% if i.extension == 'pdf' or i.extension == 'stl' or i.extension == 'ply' or i.extension == 'obj' or i.extension == 'dcm' or i.extension == 'html' or i.extension == 'PDF' or i.extension == 'STL' or i.extension == 'DCM' or i.extension == 'HTML' or i.extension == 'PLY' or i.extension == 'OBJ'%}
                                <tr>
                                <td class="text-center bg-light">{{data.order_number}}</td>
                                <td class="text-center bg-light">{{data.customer_name}}</td>
                                <td class="text-left bg-light">
                                    <div class="file-container">
                                    <div class="file-name">
                                        <a href="{% url 'show_file' path=i.title|urlencode %}" target="_blank">{{ i.title }}</a>
                                    </div>
                                    </div>
                                </td>
                                <td class="text-left bg-light">
                                    <div class="file-container">
                                    <div class="file-name">
                                        {{i.extension}}
                                    </div>
                                    </div>
                                </td>

                                <td class="text-center bg-light">
                                    <div class="file-action">
                                    <div class="btn-group">
                                        {% if request.user.groups.all.0.name == "Vendor"  or request.user.groups.all.0.name == "User" or request.user.groups.all.0.name == "Admin" %}
                                        
                                        {% if data.is_ordered == 1 %}
                                            <div>
                                            <a target="_blank" href="{% url 'show_file' path=i.title|urlencode %}" class="m-2 btn btn-primary btn-small btn-file-view btn-sm"
                                            >
                                                <i class="fas fa-eye"></i> View
                                            </a>
                                            </div>

                                            <div>
                                            <a href="{{ i.url }}" class="m-2 btn btn-dark btn-small btn-file-download btn-sm"
                                                download>
                                                <i class="fas fa-download"></i> Download
                                            </a>
                                            </div>
                                        
                                        {% elif data.is_ordered == 0 and request.user.groups.all.0.name == "Vendor"  %}
                                            
                                            <div>
                                            <a target="_blank" href="{% url 'show_file' path=i.title|urlencode %}" class="m-2 btn btn-primary btn-small btn-file-view btn-sm"
                                            >
                                                <i class="fas fa-eye"></i> View
                                            </a>
                                            </div>
                                            
                                            <div>
                                            <button class="m-2 btn btn-dark btn-small btn-file-download btn-sm" disabled>
                                                <i class="fas fa-download"></i> Download
                                            </button>
                                            </div>

                                            <div>
                                            <p>Can't download. Pay the order first.</p>
                                            </div>
                                        
                                        {% else %}
                                            
                                            <!-- Disabled buttons when the order is unpaid -->
                                            <div>
                                                <button class="m-2 btn btn-primary btn-small btn-file-view btn-sm" disabled>
                                                <i class="fas fa-eye"></i> View
                                                </button>
                                            </div>
                                            
                                            <div>
                                                <button class="m-2 btn btn-dark btn-small btn-file-download btn-sm" disabled>
                                                <i class="fas fa-download"></i> Download
                                                </button>
                                            </div>

                                            <div>
                                                <p>Can't view or download. Pay the order first.</p>
                                            </div>

                                        {% endif %}

                                        {% endif %}

                                    </div>
                                    </div>
                                </td>
                                </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                        </table>
                    </div>
                </div>



            </div>

          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>










{% endblock content %}


{% block scripts %}

<!-- Include the three.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>


<!-- DataTables  & Plugins -->
<script src="{% static 'cdlapp/dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script
  src="{% static 'cdlapp/dashboard/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
<script
  src="{% static 'cdlapp/dashboard/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'cdlapp/dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>


<script src="{% static 'cdlapp/dashboard/dist/js/order-list.js' %}"></script>

<script>
  function openImageModal(imageUrl) {
    const viewImageModal = $('#viewImageModal');
    const viewImage = viewImageModal.find('.modal-body img');

    viewImage.attr('src', imageUrl);
    viewImageModal.modal('show');
  }
</script>

<script>
  function openImage_new_tab(imageUrl) {
    window.open( imageUrl, "_blank");
  }
</script>

<script>
  // Function to open the file modal and provide a download link
  function openFileModal(fileUrl) {
    const fileDownloadLink = document.getElementById('fileDownloadLink');
    const viewFileModal = new bootstrap.Modal(document.getElementById('viewFileModal'));

    // Set the href attribute of the download link to the file URL
    fileDownloadLink.href = fileUrl;

    // Show the modal
    viewFileModal.show();
  }
</script>



{% endblock scripts %}