{% extends 'amruloapp/baselogin.html' %}
{% load i18n static %}


{% block title %}
    Admin|Login
{% endblock title %}

{% block custom_css %}
<style>
  .dash-header{
    margin:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
  }

  @media screen and (max-width:768px){
    .dash-header{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
  }

  .dash-title{
    text-align:center;
  }
  
</style>
  
{% endblock custom_css %}


{% block content %}

      <div class="login-container">
        <div class="login-card">
            
          <div class="login-card-header">
            <div class="container">
              <div class="dash-header">
                <div class="dash-logo">
                  <a href="{% url 'admin:index' %}"><img style="width:50px;height:50px" src="{% static 'amruloapp/dashboard/dist/img/cdl-web.png' %}" alt="img"/></a>
                </div>
                <div class="dash-title">
                  <div class="login-card-title">Admin Dashboard</div>
                  <div class="login-card-subtitle">Log in to continue to CDL Administration</div>
                </div>
              </div>
            </div>
          </div>

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <p class="errornote text-danger">
                  {{ error }}
              </p>
            {% endfor %}
          {% endif %}

          {% if user.is_authenticated %}
            <p class="errornote text-danger">
                {% blocktranslate trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
                {% endblocktranslate %}
            </p>
          {% endif %}

          <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
              {{ form.username.errors }}
                <!--{{ form.username.label_tag }} {{ form.username }}-->
              <label for="id_username">Email address</label>
              <input class="form-control" type="email" placeholder="Enter email"
											name="username" autofocus autocapitalize="none" autocomplete="username"
											required id="id_username">
            </div>

            <div class="form-group">
              {{ form.password.errors }}
              <!--{{ form.password.label_tag }} {{ form.password }}-->
              <label for="id_password">Password</label>
              <input class="form-control" type="password" placeholder="Enter password"
											name="password" autocomplete="current-password" required id="id_password">
            </div>

            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
            <div class="password-reset-link">
              <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or
                username?' %}</a>
            </div>
            {% endif %}

            <div class="mb-3 row">
                <div class="col-sm-12 col-lg-12 text-center">
                    <button class="btn btn-primary btn-block login-button" type="submit">Login</button>
                </div>
            </div>
        </form>
          
        </div>
      </div>

    {% endblock content %}