{% load i18n %}

{% if app_list %}
  {% for app in app_list %}

    <div class="row app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
        <div class="col-12">
                    
                    <p class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">
                        <h4 class="bg-danger text-light text-center">
                            <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">
                                {{ app.name }}
                            </a>
                        </h4>
                    </p>

                    <div class="app-table">
                        <table class="table">
                            {% for model in app.models %}
                                <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                                    {% if model.admin_url %}
                                        <th>
                                            <a class="text-danger" href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>
                                                {{ model.name }}</a>
                                            </th>
                                    {% else %}
                                        <th>{{ model.name }}</th>
                                    {% endif %}
                                    
                                    {% if model.add_url %}
                                        <td><a href="{{ model.add_url }}" class="addlink">
                                            &nbsp;{% translate 'Add' %}</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    {% if model.admin_url and show_changelinks %}
                                    {% if model.view_only %}
                                        <td><a href="{{ model.admin_url }}" class="viewlink">
                                            &nbsp;{% translate 'View' %}</a></td>
                                    {% else %}
                                        <td><a href="{{ model.admin_url }}" class="changelink">
                                            &nbsp;{% translate 'Change' %}</a></td>
                                    {% endif %}
                                    {% elif show_changelinks %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                
                            {% endfor %}
                        </table>
                    </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
