{% extends 'cdlapp/baselogin.html' %} {% load static %} {% block title %}
Password Reset {% endblock title %} {% block custom_css %} 
{% endblock custom_css %} {% block content %}

<div class="login-container">
  <div class="login-card">
    <div class="login-card-header">
      <div class="login-card-title">Reset your Password</div>
    </div>

    <p>We've emailed you instructions for setting your password.</p>
    <br />

    <p>
      If you don't receive an email, please make sure you've entered the address
      you registered with.
    </p>
  </div>
</div>

{% endblock content %}
