{% extends 'amruloapp/baselogin.html' %}
{% load static %}

{% block title %}
    Password Reset
{% endblock title %}

{% block custom_css %}
  
{% endblock custom_css %}


{% block content %}

      <div class="login-container">
        <div class="login-card">
            
          <div class="login-card-header">
            <div class="login-card-title">Password Updated</div>
          </div>

            <p>Your password has been updated. You can <a href="{% url 'login' %}">login</a>  now</p>
          
        </div>
      </div>

    {% endblock content %}


